In [101]:
import pandas as pd
import numpy as np
from scipy.spatial.distance import cosine

In [6]:
# 加载数据
ratings=pd.read_csv("./ml-latest-small/ratings_named.csv")

In [92]:
# 转换为用户评分矩阵
rating_matrix=ratings.pivot_table(index="movieId",values="rating",columns="userId")

In [107]:
rating_matrix

userId,1,2,3,4,5,6,7,8,9,10,...,601,602,603,604,605,606,607,608,609,610
movieId,,,,,,,,,,,,,,,,,,,,,
1,4.0,NaN,NaN,NaN,4.0,NaN,4.5,NaN,NaN,NaN,...,4.0,NaN,4.0,3.0,4.0,2.5,4.0,2.5,3.0,5.0
2,NaN,NaN,NaN,NaN,NaN,4.0,NaN,4.0,NaN,NaN,...,NaN,4.0,NaN,5.0,3.5,NaN,NaN,2.0,NaN,NaN
3,4.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193581,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
193583,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
193585,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
193587,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
193609,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [94]:
# 计算 1 跟 2的相似度 

#  计算1 分母dd
rating_matrix[1].map(ddlambda d:d*d).sum()

4571.0

In [96]:
rating_matrix[5].map(lambda d:d*d).sum()

624.0

In [97]:
(rating_matrix[1]*rating_matrix[5]).sum()

218.0

In [105]:
from scipy.spatial.distance import cosine

def calCos(a,b):
    return 0.5+0.5*(1-cosine(a, b))

In [109]:
user_like_matrix=rating_matrix.corr(method=calCos)

In [110]:
user_like_matrix

userId,1,2,3,4,5,6,7,8,9,10,...,601,602,603,604,605,606,607,608,609,610
userId,,,,,,,,,,,,,,,,,,,,,
1,1.000000,1.000000,0.895952,0.966405,0.985385,0.969621,0.975519,0.989061,0.997869,0.879045,...,0.996207,0.979415,0.963745,0.977016,0.968775,0.983690,0.979124,0.978286,0.988534,0.988440
2,1.000000,1.000000,NaN,1.000000,1.000000,0.994975,0.899261,1.000000,NaN,0.919527,...,0.990521,1.000000,0.989968,NaN,NaN,0.996764,1.000000,0.995039,1.000000,0.995251
3,0.895952,NaN,1.000000,1.000000,1.000000,0.995074,NaN,1.000000,NaN,NaN,...,0.996942,0.985071,0.849847,NaN,1.000000,0.735489,0.780113,0.805894,NaN,0.930147
4,0.966405,1.000000,1.000000,1.000000,0.950569,0.949914,0.972988,0.939540,1.000000,0.923708,...,0.939767,0.959451,0.956198,0.944724,0.976283,0.966896,0.956783,0.933661,0.933766,0.960618
5,0.985385,1.000000,1.000000,0.950569,1.000000,0.966356,0.977728,0.971833,NaN,0.911844,...,0.990333,0.969709,0.966936,0.977326,0.965459,0.980477,0.977157,0.964024,0.989912,0.980005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,0.983690,0.996764,0.735489,0.966896,0.980477,0.973993,0.965651,0.983538,0.988808,0.951353,...,0.994913,0.973499,0.975747,0.990033,0.983312,1.000000,0.976220,0.975454,0.992748,0.987746
607,0.979124,1.000000,0.780113,0.956783,0.977157,0.980836,0.986031,0.981749,1.000000,0.870006,...,0.997191,0.977624,0.961902,0.979073,0.966158,0.976220,1.000000,0.976067,0.989565,0.979613
608,0.978286,0.995039,0.805894,0.933661,0.964024,0.955596,0.961385,0.979625,0.969801,0.926381,...,0.989746,0.973437,0.957810,0.963311,0.964974,0.975454,0.976067,1.000000,0.986151,0.978948
609,0.988534,1.000000,NaN,0.933766,0.989912,0.982796,0.988691,0.983503,NaN,0.937079,...,0.999756,0.984428,0.972527,0.993992,0.972461,0.992748,0.989565,0.986151,1.000000,0.981552
610,0.988440,0.995251,0.930147,0.960618,0.980005,0.976442,0.967763,0.983077,0.985903,0.948116,...,0.992322,0.977426,0.972987,0.986384,0.981807,0.987746,0.979613,0.978948,0.981552,1.000000

In [112]:
# 找到

userId,1,2,3,4,5,6,7,8,9,10,...,601,602,603,604,605,606,607,608,609,610
userId,,,,,,,,,,,,,,,,,,,,,
1,1.0,1.000000,0.895952,0.966405,0.985385,0.969621,0.975519,0.989061,0.997869,0.879045,...,0.996207,0.979415,0.963745,0.977016,0.968775,0.983690,0.979124,0.978286,0.988534,0.988440
245,1.0,NaN,NaN,1.000000,NaN,NaN,1.000000,NaN,NaN,1.000000,...,0.958051,1.000000,0.971495,NaN,1.000000,0.958855,0.961774,0.940317,NaN,0.976603
383,1.0,NaN,NaN,0.884833,1.000000,0.994975,0.946026,0.994975,NaN,1.000000,...,0.999159,0.994975,0.965883,NaN,0.979784,0.976455,0.996521,0.962429,1.000000,0.983559
388,1.0,NaN,NaN,0.928746,NaN,0.947214,0.999159,NaN,1.000000,0.973431,...,0.947351,NaN,0.947214,NaN,0.979657,0.989512,NaN,0.993651,NaN,0.989744
315,1.0,NaN,1.000000,0.976463,NaN,1.000000,0.996942,NaN,NaN,0.965204,...,0.992842,NaN,0.986504,NaN,0.998893,0.984044,0.979980,0.998527,NaN,0.981218
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
397,NaN,NaN,NaN,0.997157,1.000000,NaN,1.000000,NaN,NaN,NaN,...,1.000000,NaN,0.986720,NaN,NaN,0.996240,NaN,0.995742,NaN,0.983918
496,NaN,1.000000,1.000000,0.993353,NaN,NaN,0.987661,NaN,1.000000,0.971575,...,0.995403,NaN,0.998003,NaN,0.999849,0.994477,1.000000,0.996143,NaN,0.995255
506,NaN,0.975155,NaN,NaN,1.000000,1.000000,0.996397,1.000000,NaN,0.890283,...,0.996951,1.000000,1.000000,1.000000,0.980791,0.978268,NaN,1.000000,NaN,0.980018
556,NaN,NaN,NaN,1.000000,1.000000,1.000000,0.988405,NaN,0.999137,0.982469,...,0.994830,NaN,1.000000,1.000000,0.987595,0.992281,1.000000,0.986685,NaN,0.995169
578,NaN,NaN,NaN,NaN,NaN,1.000000,1.000000,NaN,NaN,0.990094,...,1.000000,NaN,NaN,NaN,0.994902,0.980215,NaN,NaN,1.000000,0.970422

In [124]:
a=rating_matrix[1].notnull()

In [126]:
a[a==True]

movieId
1       True
3       True
6       True
47      True
50      True
        ...
3744    True
3793    True
3809    True
4006    True
5060    True
Name: 1, Length: 232, dtype: bool

In [127]:
b=rating_matrix[2].notnull()

In [135]:
(a==b)

movieId
1         False
2          True
3         False
4          True
5          True
          ...
193581     True
193583     True
193585     True
193587     True
193609     True
Length: 9724, dtype: bool

In [136]:
(a==b).sum()

9467

In [137]:
user_like_matrix

userId,1,2,3,4,5,6,7,8,9,10,...,601,602,603,604,605,606,607,608,609,610
userId,,,,,,,,,,,,,,,,,,,,,
1,1.000000,1.000000,0.895952,0.966405,0.985385,0.969621,0.975519,0.989061,0.997869,0.879045,...,0.996207,0.979415,0.963745,0.977016,0.968775,0.983690,0.979124,0.978286,0.988534,0.988440
2,1.000000,1.000000,NaN,1.000000,1.000000,0.994975,0.899261,1.000000,NaN,0.919527,...,0.990521,1.000000,0.989968,NaN,NaN,0.996764,1.000000,0.995039,1.000000,0.995251
3,0.895952,NaN,1.000000,1.000000,1.000000,0.995074,NaN,1.000000,NaN,NaN,...,0.996942,0.985071,0.849847,NaN,1.000000,0.735489,0.780113,0.805894,NaN,0.930147
4,0.966405,1.000000,1.000000,1.000000,0.950569,0.949914,0.972988,0.939540,1.000000,0.923708,...,0.939767,0.959451,0.956198,0.944724,0.976283,0.966896,0.956783,0.933661,0.933766,0.960618
5,0.985385,1.000000,1.000000,0.950569,1.000000,0.966356,0.977728,0.971833,NaN,0.911844,...,0.990333,0.969709,0.966936,0.977326,0.965459,0.980477,0.977157,0.964024,0.989912,0.980005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,0.983690,0.996764,0.735489,0.966896,0.980477,0.973993,0.965651,0.983538,0.988808,0.951353,...,0.994913,0.973499,0.975747,0.990033,0.983312,1.000000,0.976220,0.975454,0.992748,0.987746
607,0.979124,1.000000,0.780113,0.956783,0.977157,0.980836,0.986031,0.981749,1.000000,0.870006,...,0.997191,0.977624,0.961902,0.979073,0.966158,0.976220,1.000000,0.976067,0.989565,0.979613
608,0.978286,0.995039,0.805894,0.933661,0.964024,0.955596,0.961385,0.979625,0.969801,0.926381,...,0.989746,0.973437,0.957810,0.963311,0.964974,0.975454,0.976067,1.000000,0.986151,0.978948
609,0.988534,1.000000,NaN,0.933766,0.989912,0.982796,0.988691,0.983503,NaN,0.937079,...,0.999756,0.984428,0.972527,0.993992,0.972461,0.992748,0.989565,0.986151,1.000000,0.981552
610,0.988440,0.995251,0.930147,0.960618,0.980005,0.976442,0.967763,0.983077,0.985903,0.948116,...,0.992322,0.977426,0.972987,0.986384,0.981807,0.987746,0.979613,0.978948,0.981552,1.000000

In [147]:
# 找到跟userId最相近的100个用户

like_users=user_like_matrix[1].sort_values(ascending=False).head(100)

In [148]:
like_users

userId
1      1.000000
77     1.000000
383    1.000000
358    1.000000
315    1.000000
         ...
504    0.993053
171    0.992891
92     0.992842
369    0.992515
269    0.992497
Name: 1, Length: 100, dtype: float64

In [150]:
# 预测对单个193587 电影的偏好程度

# https://www.cnblogs.com/qwj-sysu/p/4368874.html

# 1 找到与userId最相近的100个用户

# 2 找到对物品有行为的用户
user_rating_actions=ratings.pivot_table(index="userId",values="rating",columns="movieId")

In [151]:
user_rating_actions

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
userId,,,,,,,,,,,,,,,,,,,,,
1,4.0,NaN,4.0,NaN,NaN,4.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,2.5,NaN,NaN,NaN,NaN,NaN,2.5,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
607,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
608,2.5,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
609,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
610,5.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [199]:
action_users=user_rating_actions[7]

In [202]:
# 取两个用户的交集
users=pd.Series(list(set(like_users.index).intersection(set(action_users[action_users.notnull()].index))))

In [203]:
users

0    90
1    95
dtype: int64

In [208]:
users.map(lambda d: user_like_matrix[1][d]).sum()

1.9903626776114436

In [210]:
user_like_matrix[1]

userId
1      1.000000
2      1.000000
3      0.895952
4      0.966405
5      0.985385
         ...
606    0.983690
607    0.979124
608    0.978286
609    0.988534
610    0.988440
Name: 1, Length: 610, dtype: float64

In [234]:
rating_matrix.head()

userId,1,2,3,4,5,6,7,8,9,10,...,601,602,603,604,605,606,607,608,609,610
movieId,,,,,,,,,,,,,,,,,,,,,
1,4.0,NaN,NaN,NaN,4.0,NaN,4.5,NaN,NaN,NaN,...,4.0,NaN,4.0,3.0,4.0,2.5,4.0,2.5,3.0,5.0
2,NaN,NaN,NaN,NaN,NaN,4.0,NaN,4.0,NaN,NaN,...,NaN,4.0,NaN,5.0,3.5,NaN,NaN,2.0,NaN,NaN
3,4.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN

In [276]:
def calLikeRate(userId,movieId):
    # 取最相近的用户 与 评价过movieId的用户的交集
    users=pd.Series( list( set(like_users.index).intersection(set(user_rating_actions[movieId][user_rating_actions[movieId].notnull()].index))))
    # 计算偏好
    return users.map(lambda d: user_like_matrix[userId][d]).sum()

In [289]:
data=pd.Series( user_rating_actions.loc[1].index,index=user_rating_actions.loc[1].index)
result=data.map(lambda d:calLikeRate(1,d))

In [291]:
result.head()

movieId
1    17.921537
2     5.975383
3     1.992497
4     0.996212
5     0.992497
Name: movieId, dtype: float64

movieId
1         4.0
2         NaN
3         4.0
4         NaN
5         NaN
         ...
193581    NaN
193583    NaN
193585    NaN
193587    NaN
193609    NaN
Name: 1, Length: 9724, dtype: float64

{90, 95}

In [ ]:
set()